html, body, #root, .react-root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.centered{
  text-align: center;
}

button{
  padding: 1em 2em;
  margin: 1em;
  color: white;
  font-size: 1.3rem;
  border-radius: 0 15px 0 15px;
  border: solid white;
  outline: none;
}

button:hover, button:focus{
  border: solid yellow;
  transition: all ease 1s;
  box-shadow: 4px 4px 2px 2px #000;
}

h1{
  color: #fff;
  text-shadow: 2px 2px #000;
}

.salmon{
  background-color: salmon;
}

.lime{
  background-color: limegreen;
}

.tomato{
  background-color: tomato;
}